

p {
    font:500 26px system-ui, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}
h1 {
    font-family: "Lexend", system-ui, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.summary {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    column-gap:10px;
}
.left-col {
    justify-self: right;
    align-self: center;
}
.right-col {
    justify-self: left;
    align-self: center;
}
.dyn-important {
    font-size:40px;
    margin: auto;
}
#importance {
    grid-column: 2 / 4;
    margin: 0;
}
.future {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    column-gap: 10px;
}
img {
    margin: auto;
    /* margin-top: -75; */
    /* margin-bottom: -75; */
}
#large {
    display: block;
}
#small {
    display: none;
}
#graph-wrapper {
    margin: auto;
}

@media only screen and (max-width: 500px) {
    #large {
        display: none;
    }
    #small {
        display: block;
    }
}
