p {
    font:500 100% system-ui, sans-serif
}
h1 {
    font-family: "Lexend", system-ui, sans-serif;
    text-transform: uppercase;
}
.summary {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    column-gap:10px;
}
.left-col {
    justify-self: right;
    align-self: center;
}
.right-col {
    justify-self: left;
    align-self: center;
}
.dyn-important {
    font-size:x-large;
}
#importance {
    grid-column: 2 / 4;
}
.future {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    column-gap: 10px;
}
img {
    margin: auto;
}
